
@model TheGalleryWalk.Models.ArtistEntity
<!--
    The Partial View that loads the edit Gallery Form
-->
@{
    ViewBag.Title = "Index";
}


<div class="GalleryContent" style="padding-top:50px;">

    @using (Html.BeginForm("updateArtistInfo", "Artist", FormMethod.Post, new { id = "EditArtistForm" }))
    {
        <fieldset class="RegisterForm" style="background-color:transparent; margin:0px; width:180px;">
            <ol class="formField" style="display:none">
                @Html.TextBoxFor(model => model.parseID, new { @Value = Model.parseID, @class = "formFieldInput" })
            </ol>

            <ol class="formField">
                @Html.LabelFor(model => model.Name, new { @class = "formFieldTitle" })
                @Html.TextBoxFor(model => model.Name, String.Empty, new { @class = "formFieldInput" })
                @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @class = "errorMessage" })
            </ol>
            <ol class="formField">
                @Html.LabelFor(model => model.Style, new { @class = "formFieldTitle" })
                @Html.TextBoxFor(model => model.Style, String.Empty, new { @class = "formFieldInput" })
                @Html.ValidationMessageFor(model => model.Style, String.Empty, new { @class = "errorMessage" })
            </ol>
            <ol class="formField">
                @Html.LabelFor(model => model.Description, new { @class = "formFieldTitle" })
                @Html.TextBoxFor(model => model.Description, String.Empty, new { @class = "formFieldInput" })
                @Html.ValidationMessageFor(model => model.Description, String.Empty, new { @class = "errorMessage" })
            </ol>

            <div id="submitButton" style="margin:auto; width:67px; margin-top:20px; color:white; margin-bottom:20px; text-align:center; border: 2px solid white; border-radius:5px;">
                <!----> <button id="buttonText" name="submitForm" style="background-color:transparent; border:none; border-radius:5px; color:white;">Save</button> <!---->

            </div>

        </fieldset>


    }

    <script type="text/javascript">

        $(document).ready(function () {

            $('#submitButton').mouseenter(function(){
                $(this).css({ "background-color": "white" });
                $(this).find('#buttonText').css({ "color": "deepskyblue" });
            }).mouseleave(function () {
                $(this).css({ "background-color": "deepskyblue" });
                $(this).find('#buttonText').css({ "color": "white" });

            });

        });

    </script>

</div>