
@using System.Diagnostics;

@model TheGalleryWalk.Models.ArtistEntity
<!--
    The Partial View that loads a form below the + Artwork buttom
-->
@{
    ViewBag.Title = "Index";
}


<div class="GalleryContent" style="padding-top:50px;">

    @using (Html.BeginForm("AddArtist", "OwnedArtists", FormMethod.Post, new { enctype = "multipart/form-data", id = "AddArtistForm" }))
    {
        <fieldset class="RegisterForm">
            <h3 style="margin:auto;padding:15px; padding-top:15px; padding-left:15px; color:white;">
                Add Artist
            </h3>

            <ol class="formField" style="display:none">
                @Html.TextBoxFor(model => model.ParentGalleryParseID, new { @Value = Model.ParentGalleryParseID, @class = "formFieldInput" })
            </ol>

           
            <ol class="formField">
                @Html.LabelFor(model => model.Name, new { @class = "formFieldTitle" })
                @Html.TextBoxFor(model => model.Name, String.Empty, new { @class = "formFieldInput" })
                @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @class = "errorMessage" })
            </ol>
            <ol class="formField">
                @Html.LabelFor(model => model.Style, new { @class = "formFieldTitle" })
                @Html.TextBoxFor(model => model.Style, String.Empty, new { @class = "formFieldInput" })
                @Html.ValidationMessageFor(model => model.Style, String.Empty, new { @class = "errorMessage" })
            </ol>
            <ol class="formField">
                @Html.LabelFor(model => model.Description, new { @class = "formFieldTitle" })
                @Html.TextBoxFor(model => model.Description, String.Empty, new { @class = "formFieldInput" })
                @Html.ValidationMessageFor(model => model.Description, String.Empty, new { @class = "errorMessage" })
               
            </ol>

            <ol>
               <input type="file" name="file" id="file" style="text-align:center"/>
            </ol>


            <div id="submitButton" style="margin:auto; width:67px; margin-top:20px; color:white; margin-bottom:20px; text-align:center; border: 2px solid white; border-radius:5px;">
                <!----> <button id="buttonText" name="submitForm" style="background-color:transparent; border:none; border-radius:5px; color:white;">Submit</button> <!---->
            </div>

        </fieldset>
    }

    <script type="text/javascript">

        $(document).ready(function () {

            $('#submitButton').mouseenter(function(){
                $(this).css({ "background-color": "white" });
                $(this).find('#buttonText').css({ "color": "deepskyblue" });
            }).mouseleave(function () {
                $(this).css({ "background-color": "deepskyblue" });
                $(this).find('#buttonText').css({ "color": "white" });

            });

        });

  
  $(function() {
    var file;

    // Set an event listener on the Choose File field.
    $('#fileselect').bind("change", function(e) {
      var files = e.target.files || e.dataTransfer.files;
      // Our file var now holds the selected file
      file = files[0];
    });

    // This function is called when the user clicks on Upload to Parse. It will create the REST API request to upload this image to Parse.
    $('#submitButton').click(function() {
        
    });

  });
</script>

</div>