@model TheGalleryWalk.Models.ArtworkEntity
<!--
    The Partial View that loads a form below the + Artwork buttom
-->
@{
    ViewBag.Title = "Index";
}

@using System.Diagnostics;

@if (Model.OwnershipState != null)
{
    if (Model.OwnershipState == "Owned")
    {
        <a href="@Url.Action("removeArtworkFromGallery","ArtistUserInfo", Model)">
             Remove
        </a>
    }
    else if (Model.OwnershipState == "Unowned")
    {
        try
        {
            if (Model.GalleryListForArtworkSharing.Count > 0)
            {
                using (Html.BeginForm("addArtworkToGallery", "ArtistUserInfo", FormMethod.Post, new { id = "AddArtworkForm" }))
                {
                    <fieldset>
                        <h6 style="margin:auto;padding:15px; padding-top:15px; padding-left:15px; color:white;">
                            Add To Gallery
                        </h6>
                        <ol class="formField" style="display:none">
                            @Html.TextBoxFor(model => model.ParseID, new { @Value = Model.ParseID, @class = "formFieldInput" })
                        </ol>
                        <ol class="formField" style="display:none">
                            @Html.TextBoxFor(model => model.Artist, new { @Value = Model.Artist, @class = "formFieldInput" })
                        </ol>

                        <div class="formField">
                            <p>Add to gallery</p>
                            @Html.DropDownListFor(model => model.ParentGalleryParseID, Model.GalleryListForArtworkSharing, "-- Select Gallery --", new { @class = "formFieldInput" });
                        </div>

                        <div id="submitButton" style="margin:auto; width:67px; margin-top:20px; color:white; margin-bottom:20px; text-align:center; border: 2px solid white; border-radius:5px;">
                            <!----> <button id="buttonText" name="submitForm" style="background-color:transparent; border:none; border-radius:5px; color:white;">Submit</button> <!---->
                        </div>

                    </fieldset>

                }
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine("\n\n Error : " + ex);
        }

    }
}


    <a href="@Url.Action("ArtworkView","Artwork", Model)">
        <div class="GalleryInfoWindow ImageContainer" style="margin:10px">
             <img id="EntityImage" src=@Url.Content(Model.ImageURL) alt="demo Artist" style="width:auto; border-radius:4px; height:150px;" />
            <p style="margin-top:8px; color:white; text-shadow: 0px 0px 4px rgba(0,0,0,0.4)">@Html.Raw(Model.Name)</p>
        </div>
    </a>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#submitButton').mouseenter(function(){
                $(this).css({ "background-color": "white" });
                $(this).find('#buttonText').css({ "color": "deepskyblue" });
            }).mouseleave(function () {
                $(this).css({ "background-color": "deepskyblue" });
                $(this).find('#buttonText').css({ "color": "white" });

            });

        });

    </script>

