@model TheGalleryWalk.Models.RegisterData
    <!--
        
    -->

@{
    ViewBag.Title = "Registration View";
}

<div class="GalleryContent" style="padding-top:50px;">
   
@using (Html.BeginForm(null, null, FormMethod.Post, new { id ="SignUpForm" }))
{
    <fieldset class="RegisterForm">
        <h4 style="margin:auto;padding:10px; color:white;">
            Sign up
        </h4>

        <ol class="formField">
            @Html.LabelFor(model => model.Name, new { @class = "formFieldTitle" })
            @Html.TextBoxFor(model => model.Name, String.Empty, new { @class = "formFieldInput"})
            @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @class = "errorMessage" })
        </ol>
        <ol class="formField">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "formFieldTitle" })
            @Html.TextBoxFor(model => model.EmailAddress, String.Empty, new { @class = "formFieldInput" })
            @Html.ValidationMessageFor(model => model.EmailAddress, String.Empty, new { @class = "errorMessage" })
        </ol>
        <ol class="formField">
            @Html.LabelFor(model => model.Password, new { @class = "formFieldTitle" })
            @Html.TextBoxFor(model => model.Password, String.Empty, new { @class = "formFieldInput" })
            @Html.ValidationMessageFor(model => model.Password, String.Empty, new { @class = "errorMessage" })
        </ol>
        <ol class="formField">
            @Html.LabelFor(model => model.PasswordCheck, new { @class = "formFieldTitle" })
            @Html.TextBoxFor(model => model.PasswordCheck, String.Empty, new { @class = "formFieldInput" })
            @Html.ValidationMessageFor(model => model.PasswordCheck, String.Empty, new { @class = "errorMessage" })
        </ol>
        <ol class="formField">
            @Html.LabelFor(model => model.phoneNumber, new { @class = "formFieldTitle" })
            @Html.TextBoxFor(model => model.phoneNumber, String.Empty, new { @class = "formFieldInput" })
            @Html.ValidationMessageFor(model => model.phoneNumber, String.Empty, new { @class="errorMessage"} )
        </ol>
        <ol class="formField">
            @Html.LabelFor(model => model.Address, new { @class = "formFieldTitle" })
            @Html.TextBoxFor(model => model.Address, String.Empty, new { @class = "formFieldInput" })
            @Html.ValidationMessageFor(model => model.Address, String.Empty, new { @class = "errorMessage" })
        </ol>
     
   
        <div id="submitButton" style="margin-top:20px; margin-bottom:10px; width:inherit; text-align:center">
            Submit
           <!-- <button name="submitForm" >Sign Up</button> -->
        </div>

     </fieldset>


}

    <script type="text/javascript">

        $(document).ready(function () {

            $('#submitButton').mouseenter(function(){
                $(this).stop();
                $(this).animate({ "background-color": "white", "color": "deepskyblue" }, 50);

            }).mouseleave(function () {
                $(this).stop();
                $(this).animate({ "background-color": "deepskyblue", "color": "white" }, 50);

            });

            $('#submitButton').onclick(function () {
                $("#SignUpForm").submit(function () {
                    if ($('#SignUpForm').valid()) {
                        showPopup("Processing...");
                    }
                });
            });
            
        });

    </script>

</div>