<!DOCTYPE html>
<html>
<head>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <script src="https://use.typekit.net/wrs6bwk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Gallery Walk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/GalleryWalkStyles.css">
   
</head>
<body class="WebsiteBody">
    <div class="navbar navbar-fixed-top navBar-FlatNav navbar-inverse menuGrade" style="text-align:center">
        <div class="container">
            <div class="navbar-header">
                <!-- This button is the hamburger icon -->
                <button type="button" class="navbar-toggle menuItem" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar" style="background-color:white"></span>
                    <span class="icon-bar" style="background-color:white"></span>
                    <span class="icon-bar" style="background-color:white"></span>
                </button>
                <h4>
                    <a class="navbar-nav menuTitle navbar-left" style="text-align:left;" href="@Url.Action("Index","Home")",  new { area = "" }>The <br/> Gallery Walk</a>
                </h4>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav GalleryNavBar menuItem navbar-nav menu" style="padding-top:5pt; text-align: center; float: none; display: inline-block;">
                    <li class="menuLi"><a class="nav navbar-nav menuItem" style="color: rgb(85,85,85)" href="@Url.Action("GalleryDirectory", "GalleryDirectory")">Our Galleries</a></li>
                    <li class="menuLi"><a class="nav navbar-nav menuItem" style="color: rgb(85,85,85)" href="@Url.Action("ArtistUserDirectory", "ArtistUserDirectory")">Our Artists</a></li>
                </ul>
                <ul class="nav navbar-nav menuItem navbar-right" style="padding-top:5pt; float: none;">
                    @Html.ActionLink("The Artsy Portal", "Login", "Async_SignIn",null , new { @class = "navbar-brand portalTitle" })
                </ul>
              
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:20px;">
        <div>
            @RenderBody()
        </div>
        <hr />
      
    </div>
    <div class="container body-content">

    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


</body>
</html>
