@using System.Diagnostics;

@model TheGalleryWalk.Models.ArtworkEntity
<!--
    The Partial View that loads a form below the + Artwork buttom
-->
@{
    ViewBag.Title = "Index";
}


<div class="GalleryContent" style="padding-top:50px;">

   

    @using (Html.BeginForm("AddArtwork", "Gallery", FormMethod.Post, new { id = "AddArtworkForm" }))
    {
        <fieldset class="RegisterForm">
            <h3 style="margin:auto;padding:15px; padding-top:15px; padding-left:15px; color:white;">
                Add Artwork
            </h3>

            <ol class="formField" style="display:none">
                @Html.TextBoxFor(model => model.ParentGalleryParseID, new { @Value = Model.ParentGalleryParseID, @class = "formFieldInput" })
            </ol>

            <ol class="formField">
                @Html.LabelFor(model => model.Artist, new { @class = "formFieldTitle" })
               @try
               {
                if (Model.addArtistFormlistItem.Count > 0)
                {
                       Debug.WriteLine("Add Artwork Artist list item count = " + Model.addArtistFormlistItem.Count);

                    @Html.DropDownListFor(model => model.Artist, Model.addArtistFormlistItem, "-- Select Artist --", new { @class = "formFieldInput" })
                   }
                   else
                   {
                    <li class="formFieldInput" id="artistAddError"> You need to add an artist first</li>
                   }
               }
               catch (Exception ex)
               {
                   Debug.WriteLine("Failed to get Artist List : " + ex);
                    <li id="artistAddError"> You need to add an artist first</li>
                }
                @Html.ValidationMessageFor(model => model.Artist, String.Empty, new { @class = "errorMessage" })

            </ol>

            <ol class="formField">
                @Html.LabelFor(model => model.Name, new { @class = "formFieldTitle" })
                @Html.TextBoxFor(model => model.Name, String.Empty, new { @class = "formFieldInput" })
                @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @class = "errorMessage" })
            </ol>
            <ol class="formField">
                @Html.LabelFor(model => model.Description, new { @class = "formFieldTitle" })
                @Html.TextBoxFor(model => model.Description, String.Empty, new { @class = "formFieldInput" })
                @Html.ValidationMessageFor(model => model.Description, String.Empty, new { @class = "errorMessage" })
            </ol>

            <div id="submitButton" style="margin:auto; width:67px; margin-top:20px; color:white; margin-bottom:20px; text-align:center; border: 2px solid white; border-radius:5px;">
               <!----> <button id="buttonText" name="submitForm" style="background-color:transparent; border:none; border-radius:5px; color:white;">Submit</button> <!---->
            </div>

        </fieldset>
    }

    <script type="text/javascript">

        $(document).ready(function () {

            $('#submitButton').mouseenter(function(){
                $(this).css({ "background-color": "white" });
                $(this).find('#buttonText').css({ "color": "deepskyblue" });
            }).mouseleave(function () {
                $(this).css({ "background-color": "deepskyblue" });
                $(this).find('#buttonText').css({ "color": "white" });

            });

        });

    </script>

</div>