@using TheGalleryWalk.Models;
@using System.Diagnostics;
@model TheGalleryWalk.Models.PageManager

<style type="text/css">

    #submitBtn{


    }


    .number {
        color:black;
        background-color:transparent;
        padding:2px;
    }

    .jumpBoxInput{
        display:inline-block;
        width:30px;
        margin:5px;
        padding:5px;
        background-color:transparent;
        background: none;
        border:none;
    }

    .jumpBoxButton{
        display:inline-block;
        font-size: 10px; 
        color:black; 
        text-align:center;
        margin:5px;
        cursor:pointer;
        border: 1px solid gray;
        border-radius:0px;
        padding:5px;
        background: none;
        background-color:transparent;
    }
</style>

<div style="width:100%; margin:auto; margin-top:10px; margin-bottom:10px;">
    @{

    <a class="number" href="@Url.Action(Model.decrementPageMethod, Model.pageMethodController, Model)"><span class="glyphicon glyphicon-arrow-left"></span></a>
        Debug.WriteLine("Model Page Count for number selector bar " + Model.totalPageCount);
        if (Model.totalPageCount < 11)
        {
            for (int i = 1; i <= Model.totalPageCount; i++)
            {
                PageManager pgMn = (new PageManager()).copyPageManager(Model);
                pgMn.currentPage = i;
                if (Model.currentPage == i)
                {
                    <a class="number" style="text-decoration:underline" href="@Url.Action(pgMn.setPageMethod, pgMn.pageMethodController, pgMn)">@Html.Raw(i)</a>
                }
                else
                {
                    <a class="number" href="@Url.Action(pgMn.setPageMethod, pgMn.pageMethodController, pgMn)">@Html.Raw(i)</a>
                }
            }
        }
        else
        {
            for (int i = 1; i <= Model.totalPageCount; i++)
            {
                PageManager pgMn = (new PageManager()).copyPageManager(Model);
                pgMn.currentPage = i;
                if (Model.currentPage == i)
                {
                    <a class="number"  style="text-decoration:underline" href="@Url.Action(pgMn.setPageMethod, pgMn.pageMethodController, pgMn)">@Html.Raw(i)</a>
                }
                else
                {
                    if (((3 >= i) || (i >= (Model.totalPageCount - 3)))  ||  (((i-2)<= Model.currentPage) && (Model.currentPage <= (i+2))))
                    {
                        <a class="number" href="@Url.Action(pgMn.setPageMethod, pgMn.pageMethodController, pgMn)">@Html.Raw(i)</a>
                    }else if ( i < Model.currentPage){
                        i = Model.currentPage - 3; // since i gets incremented once before looping back
                        <p class="number" style="display:inline-block">...</p>
                    }
                    else if(i > Model.currentPage)
                    {
                        i = Model.totalPageCount - 3;
                        <p class="number" style="display:inline-block">...</p>
                    }
                }
            }
        }

        <a class="number" href="@Url.Action( Model.incrementPageMethod, Model.pageMethodController, Model)"><span class="glyphicon glyphicon-arrow-right"></span></a>

        using (Html.BeginForm(Model.setPageMethodPost, Model.pageMethodController, FormMethod.Post, new { enctype = "multipart/form-data", id = "JumpToIndex" }))
        {
                <fieldset>
                   <!-- <button class="jumpBoxButton" name="submitForm">Go to page</button> -->
                    <div style="text-align:center; margin:auto;">
                         <h5 id="submitBtn" class="jumpBoxButton">Go to Page</h5>
                         @Html.DropDownListFor(model => model.currentPage, Model.pageNumberList, new { @class = "jumBoxInput" })
                    </div>
                    <ol style="display:none;">@Html.TextBoxFor(model => model.totalPageCount, new { @Value = Model.totalPageCount })</ol>
                    <ol style="display:none;"> @Html.TextBoxFor(model => model.totalItemCount, new { @Value = Model.totalItemCount })</ol>
                 </fieldset>
         }
    }
   
</div>



<script type="text/javascript">

    $(document).ready(function () {
        document.getElementById("submitBtn").onclick = function () { document.forms[0].submit(); };
    })

</script>
